@font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Regular.ttf");
}
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    cursor: inherit;
    box-sizing: border-box;
    user-select: none;
}
body {
    background-color: #000;
    color: #fffd;
    font-family: Roboto;
    font-size: 18px;
    /* width: 500px;
    height: 150px; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    .main {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 10px;
    }
    .head {
        font-size: 2rem;
    }
    .progressVisual {
        width: 100%;
        height: 30px;
    }
    .progressVisual .progress {
        width: 1%;
        height: 100%;
        background-color: #46a46c;
        display: block;
    }
}
