@font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Regular.ttf");
}
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    cursor: inherit;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    min-height: 70px;
    background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-color-hover);
}

::selection {
    background: var(--font-select-color);
    color: var(--font-select-color);
}
.refrenceVariable {
    --body-bg-color: #ffffff;
    --sideList-bg-color: var(--topBar-color);

    --icon-color: #000c29;
    --font-color: #000c29;
    --font-select-color: #000c29;
    --font-select-bg-color: #fff8f0;
    --btn-color: #fff;
    --btn-color-hover: #fff;
    --btn-color-focus: #fff;
    --btn-shadow-focus: #000;
    --text-input-bg: #fff;
    --text-input-bg-focus: #fff;

    --topBar-color: #fff;
    //not focusable
    --topBar-btn-hover: #fff;
    --listItem-bg-color: #fff;
    --listItem-bg-color-hover: #fff;
    --listItem-bg-color-read: #fff;
    --listItem-bg-color-current: #fff;
    --readerSettings-bg: #fff;
    --readerSettings-toggleBtn-bg-color: #fff;
    --readerSettings-toggleBtn-bg-color-hover: #fff;

    --scrollbar-track-color: #fff;
    --scrollbar-thumb-color: #fff;
    --scrollbar-thumb-color-hover: #fff;

    --code-bg-color: #fff;
    --code-shadow-color: var(--btn-color);

    --divider-color: #fff;

    --contextMenu-bg-color: #fff;
    --contentMenu-item-color: #fff;
    --contentMenu-item-bg-color-hover: #fff;
    --zenModePage-bg: #fff;
}

.refrenceVariable {
    // --body-bg: #ffffff;
    // --sideList-bg: var(--body-bg);
    // --icon-color: #000c29;
    // --font-color: #000c29;
    // --font-select-color: #000c29;
    // --font-select-bg: #fff8f0;

    // --color-primary: #487fff;
    // --color-secondary: #1f62ff;
    // --color-tertiary: #93b4ff;

    // --topBar-color: #e0e0e0;
    // --topBar-btn-hover-color: #709bff;
    // --input-bg: #b6ccfe;
    // --btn-color1: #b6ccfe;

    // --btn-color2: #709bff;

    // --listItem-bg-color: #00000000;
    // --listItem-hover-color: #b6ccfe;
    // --listItem-alreadyRead-color: #93b4ff;
    // --listItem-current: #709bff;
    // --toolbar-btn-bg: #b6ccfe;
    // --toolbar-btn-hover: #487fff;
    // --scrollbar-track-color: #b6ccfe00;
    // --scrollbar-thumb-color: #b6ccfe;
    // --scrollbar-thumb-color-hover: #709bff;
    // --divider-color: #b6ccfe;
    // --context-menu-text: var(--font-color);
    // --context-menu-bg: var(--color-tertiary);
    // --zenModePageIndicator-bg: var(var(--body-bg));
}

body.zenMode {
    ::-webkit-scrollbar {
        display: none;
    }

    #app #reader .readerSideList,
    .readerSettings,
    #topBar {
        display: none;
    }

    #app #reader .zenModePageNumber.show {
        display: block;
    }

    #app {
        top: 0;
        height: 100%;
        #EPubReader {
            .readerSideList {
                height: 100vh;
                .indicator,
                .reSizer {
                    display: none;
                }
            }
        }
        #reader {
            .imgCont {
                &.fitVertically .row .readerImg {
                    width: auto !important;
                    height: 100vh;
                }
                // &.fitHorizontally .row .readerImg {
                //     width: 100%;
                //     height: auto !important;
                // }
                // &.original .row .readerImg {
                //     width: auto !important;
                //     height: auto !important;
                // }
            }
        }
    }
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 100vw;
    height: 100vh;
    color: var(--font-color);
    background: var(--body-bg-color);

    &::backdrop {
        background: var(--body-bg-color);
    }

    label:has(input:focus) {
        box-shadow: var(--btn-color-focus) 0 0 0px 2px;
    }

    input[type="checkbox"] {
        accent-color: var(--icon-color);
        opacity: 0.3;
        &:checked {
            opacity: 1;
        }
    }
    input[type="range"] {
        accent-color: var(--icon-color);
    }
    user-select: none;
    overflow: hidden;

    .icon {
        color: var(--icon-color) !important;
    }
    button {
        font-family: inherit;

        &:disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        &:focus {
            outline: none;
            box-shadow: var(--btn-color-focus) 0 0 0px 2px;
        }
    }

    select {
        width: 100%;
        height: 100%;
        background: var(--text-input-bg);
        color: var(--font-color);
        font-size: 1em;
        padding: 5px;
        border: none;
        border-radius: 3px;
        cursor: default;
        user-select: none;

        font-family: inherit;
        &:focus,
        &:active {
            outline: none;
            box-shadow: var(--btn-color-focus) 0 0 0px 2px;
        }
        &:disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
    svg {
        color: var(--icon-color);
    }

    div:focus {
        outline: none;
    }

    code {
        display: inline;
        background-color: var(--code-bg-color);
        box-shadow: 0 0 2px 1px var(--code-shadow-color);
        padding: 2px 4px;
        border-radius: 4px;
        white-space: nowrap;
        font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        font-size: 90%;
        align-self: center;
        cursor: inherit;
        width: fit-content;
    }

    --titleBar-height: 40px;
    --button-width: 55px;
    --body-height: calc(100vh - var(--titleBar-height));

    [data-tooltip] {
        position: relative;

        &::before {
            content: attr(data-tooltip);
            position: absolute;
            --translate: 10px, -50%;
            cursor: inherit;
            --rotate: 0;
            z-index: 10000;
            font-size: 18px;
            display: block;
            white-space: nowrap;
            color: #fff;
            visibility: none;
            background: #000;
            left: 100%;
            top: 50%;
            height: fit-content;
            transform: translate(var(--translate)) scale(0) rotate(var(--rotate));
            padding: 3px 5px;
            border-radius: 5px;
            opacity: 0;
            pointer-events: none;
        }

        &:hover::before {
            opacity: 1;
            visibility: visible;
            transition: 0.5s opacity;
            transform: translate(var(--translate)) scale(1) rotate(var(--rotate));
        }
    }

    #topBar {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: var(--titleBar-height);
        user-select: none;
        background: var(--topBar-color);
        z-index: 1000000;

        button {
            font-size: 18px;
        }

        .homeBtns {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: calc(var(--button-width) * 5);
            height: 100%;

            button {
                width: var(--button-width);
                background: none;
                position: relative;
                color: var(--icon-color);
                height: 100%;
                left: 0;
                top: 0;
                border: none;
                cursor: pointer;

                &::before {
                    top: 100%;
                    left: 50%;
                    --translate: -50%, 10px;
                }

                -webkit-app-region: no-drag;

                &:hover,
                &:active {
                    background: var(--topBar-btn-hover);
                }
            }
        }

        .titleDragable {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            -webkit-app-region: drag;
        }

        .mainTitleCont {
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% - (var(--button-width) * 10));

            .title {
                position: relative;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 25px;
            }
        }

        .windowBtnCont {
            -webkit-app-region: no-drag;
            position: absolute;
            // width: calc(var(--button-width) * 2 + 138px);

            top: 0;
            right: 138px;
            z-index: 3000;
            display: flex;
            flex-direction: row;
            height: 100%;
            align-items: center;

            #pageNumbers {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                height: 100%;
                visibility: hidden;
                width: calc(var(--button-width) * 2);
                &::before {
                    top: 100%;
                    left: 50%;
                    --translate: -50%, 10px;
                }

                .totalPage {
                    display: block;
                    font-size: 25px;
                    // text-align: center;
                    // width: calc(var(--button-width) * 1);
                }

                #NavigateToPageInput {
                    z-index: inherit;
                    width: calc(var(--button-width) * 1);
                    text-align: right;
                    font-size: 25px;
                    box-sizing: border-box;
                    font-family: Roboto;
                    cursor: text;
                    background: var(--text-input-bg);
                    border: none;
                    // padding: 10px;
                    height: 100%;
                    box-sizing: border-box;
                    color: var(--font-color);

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    &:focus,
                    &:active {
                        background: var(--text-input-bg-focus);
                        outline: none;
                    }
                }
            }

            button {
                z-index: inherit;
                background: none;
                box-sizing: border-box;
                color: var(--icon-color);
                border: none;
                width: var(--button-width);
                height: 100%;

                &:focus {
                    outline: none;
                }

                &:hover,
                &:active {
                    background: var(--topBar-btn-hover);
                }
            }
        }
    }

    #root {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #app {
        position: relative;
        top: var(--titleBar-height);
        left: 0;
        width: 100%;
        height: calc(100% - var(--titleBar-height));
        &.noListNumbering {
            .listCont {
                .location-cont {
                    ol li a {
                        grid-template-columns: auto var(--grid-template);
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
        button {
            background: var(--btn-color);

            &:hover,
            &:active {
                background: var(--btn-color-hover);
                outline: none;
            }
            &:active,
            &:focus {
                background: var(--btn-color-focus);
                outline: 1px transparent;
            }

            color: var(--font-color);
            font-family: "Roboto";
            font-size: 20px;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 3px;
            border: none;
            overflow: hidden;

            // &:focus {
            //     outline: none;
            // }
            i::before {
                cursor: pointer;
            }
        }

        input[type="text"],
        input[type="number"] {
            background: var(--text-input-bg);
            overflow: scroll;
            cursor: text;
            color: var(--font-color);
            font-family: "roboto";
            outline: none;
            border-radius: 3px;
            width: 100%;
            border: none;
            font-size: 20px;
            padding: 10px;

            &:focus {
                box-shadow: var(--text-input-bg-focus) 0 0 0px 2px;
                // background-color: var(--text-input-bg-focus);
            }
        }

        .listCont {
            .location-cont {
                position: relative;
                height: 100%;
                overflow-y: scroll;
                overflow-x: visible;

                p {
                    top: 0;
                    position: sticky;
                    // background-color: var(--body-bg-color);
                    z-index: 100;
                }
                ol {
                    position: relative;
                    counter-reset: countList;
                    z-index: 99;

                    li {
                        position: relative;
                        display: flex;
                        width: 100%;
                        // max-height: 30px;
                        // &:has(a > span.double) {
                        //     max-height: 60px;
                        // }
                        align-items: stretch;
                        border-radius: 2px;
                        background: var(--listItem-bg-color);
                        // border-bottom: 1px solid var(--color-primary);
                        height: 100%;

                        &:hover,
                        &:active {
                            background-color: var(--listItem-bg-color-hover);
                        }
                        code.nonFolder {
                            margin-left: auto;
                        }
                        a {
                            cursor: pointer;
                            display: grid;
                            --grid-template: 0;
                            &:has(code.nonFolder) {
                                --grid-template: auto;
                            }
                            gap: 5px;
                            grid-template-columns: 2.1em auto var(--grid-template);
                            // display: flex;
                            // flex-direction: row;
                            align-items: start;
                            padding: 5px;
                            &:is(.big) {
                                padding: 10px 5px;
                            }
                            width: 100%;
                            overflow: hidden;

                            .pageNum {
                                margin-left: auto;
                                min-width: 2em;
                                text-align: end;
                            }
                            .double {
                                display: inline-flex;
                                flex-direction: column;
                                gap: 5px;
                                .chapter {
                                    opacity: 0.7;
                                    display: flex;
                                    .page {
                                        margin-left: auto;
                                        white-space: nowrap;
                                        display: var(--show-page-num-on-home);
                                        gap: 5px;
                                        .num {
                                            min-width: 2.2em;
                                        }
                                    }
                                }
                            }

                            .text {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;

                                word-break: break-all;
                                -webkit-line-clamp: 1;
                                /* number of lines to show */
                                -webkit-box-orient: vertical;
                            }

                            &::before {
                                counter-increment: countList;
                                content: counter(countList) ".\00a0";
                                text-align: right;
                            }
                        }

                        button {
                            margin: 0;
                            cursor: pointer;
                            user-select: none;
                            padding: 5px 20px;
                            box-sizing: border-box;
                            align-self: stretch;
                            border: none;
                            display: flex;
                            font-size: 20px;
                            background: var(--body-bg);

                            &:hover,
                            &:active,
                            &:focus {
                                background: var(--btn-color-focus);
                            }
                            &:hover {
                                background: var(--btn-color-hover);
                            }
                        }
                    }

                    .alreadyRead {
                        background: var(--listItem-bg-color-read);

                        &:hover,
                        &:active {
                            background-color: var(--listItem-bg-color-hover);
                        }
                    }

                    .current {
                        background: var(--listItem-bg-color-current);
                    }
                }
            }

            .tools {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-bottom: 5px;
                --button-width1: 45px;

                .currentPath {
                    user-select: text;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    border-bottom: 5px solid var(--divider-color);
                    padding-bottom: 5px;

                    button {
                        padding: 5px;
                        min-width: calc(var(--button-width) * 2 + 5px);
                    }
                }

                .row1 {
                    gap: 6px;
                    display: flex;
                    flex-direction: row;
                    height: 44px;
                }

                button {
                    // padding: 0;
                    width: var(--button-width);
                    height: 100%;
                    overflow: visible;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &::before {
                        left: 0;
                        top: 0;
                        --translate: 0%, calc(-100% - 10px);
                    }
                }
            }
        }

        .tabCont {
            // display: flex;
            flex-direction: row;
            display: grid;
            --divider-width: 25px;
            grid-template-columns: auto var(--divider-width) auto var(--divider-width) auto;
            position: relative;
            width: 100%;
            height: 100%;
            // padding: 5px 20px;

            --show-page-num-on-home: flex;

            .contTab {
                width: 100%;
                // overflow: hidden;
                height: 100%;
                position: relative;
                display: flex;
                overflow-y: auto;
                // flex-basis: calc((100% - 2 * (var(--divider-width))) / 3);
                // flex-grow: 0;
                // flex-shrink: 0;
                flex-direction: column;
                //!
                // background-color: var(--body-bg-color);
                padding: 20px 10px;

                h2 {
                    margin-bottom: 10px;
                    text-align: center;
                    padding-bottom: 10px;
                    font-weight: 400;
                    border-bottom: 5px solid var(--divider-color);
                    box-sizing: border-box;

                    button {
                        padding: 0 10px;
                        margin: 0;
                        margin-left: 5px;
                    }
                }
            }

            .divider {
                display: grid;
                place-items: center;
                cursor: pointer;
                height: 100%;
                // margin: 0 10px;
                padding: 0 10px;

                &:hover {
                    .bar {
                        background-color: var(--btn-color-hover);
                    }
                }

                .bar {
                    height: 100%;
                    width: 6.9px;
                    min-width: 6.9px;
                    background-color: var(--divider-color);
                }
            }
        }

        .contextMenu {
            position: absolute;
            top: 0;
            left: 0;
            background: var(--contextMenu-bg-color);
            color: var(--contentMenu-item-color);
            box-shadow: var(--btn-color-focus) 0 0 5px 1px;
            // border: 1px solid var(--btn-color-focus);
            box-sizing: border-box;
            padding: 10px 0px;
            border-radius: 5px;
            min-width: 240px;
            z-index: 10000;
            user-select: none;

            &:active,
            &:focus {
                outline: none;
            }

            ul {
                list-style: none;

                li {
                    padding: 10px 10px;
                    cursor: default;

                    &:hover {
                        background: var(--btn-color-hover);
                    }
                    &:active {
                        background: var(--btn-color-focus);
                    }
                }
            }
        }

        #settings {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1000;
            display: grid;
            // background: #0004;
            place-items: center;
            // transition: 0.3s all;

            &[data-state="open"] {
                visibility: visible;

                .cont {
                    transform: scale(1);
                }
            }

            &[data-state="closed"] {
                visibility: hidden;

                .cont {
                    transform: scale(1.1);
                    transition: 0.1s cubic-bezier(1, 0, 1, 1) transform;
                }
            }

            .clickClose {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0.75;
                background-color: var(--body-bg-color);
            }

            .cont {
                position: relative;
                background: var(--body-bg-color);
                border-radius: 10px;
                transition: 0.3s cubic-bezier(0, 1.15, 1, 1) transform;
                width: calc(max(700px, 60%));
                height: 90%;
                transform: scale(0);
                box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 19px 25px;
                // box-shadow: var(--btn-color) 0 0 10px 10px;
                overflow: auto;

                &.noScroll {
                    overflow: hidden;
                    padding-right: 10px;
                }

                > h1 {
                    border-bottom: 2px solid var(--divider-color);
                    padding: 10px;
                    position: sticky;
                    top: 0;
                    background-color: inherit;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    input {
                        width: auto;
                    }

                    .closeBtn {
                        margin-left: auto;
                        width: 40px;
                        height: 40px;
                        padding: initial;
                    }
                }

                .content {
                    // display: flex;
                    // flex-direction: column;
                    padding: 20px;
                    font-size: 1.4em;
                    width: 100%;

                    .settingItem {
                        display: flex;
                        gap: 10px;
                        // grid-template-columns: 30% 70%;
                        align-items: center;
                        padding: 10px 0;
                        border-bottom: 2px solid var(--divider-color);
                        min-height: 44px;

                        .name {
                            width: 30%;
                        }

                        .current {
                            display: flex;
                            flex-wrap: wrap;
                            width: 70%;

                            gap: 5px;
                            justify-content: stretch;

                            &.list {
                                flex-direction: column;
                                align-items: flex-start;
                            }

                            span {
                                user-select: text;
                            }

                            input {
                                background-color: var(--text-input-bg);
                                border: none;
                                flex: 1;
                                font-size: 15px;
                                color: var(--font-color);
                                height: 100%;
                                border-radius: 3px;
                            }

                            label {
                                display: flex;
                                align-items: center;
                                cursor: pointer;
                                background-color: var(--text-input-bg);
                                padding: 10px 10px;
                                gap: 10px;
                                border-radius: 3px;

                                p {
                                    font-size: 15px;
                                }
                                &:hover {
                                    background-color: var(--text-input-bg-focus);
                                }
                                &:focus,
                                &:active {
                                    box-shadow: var(--btn-color-focus) 0 0 0px 2px;
                                }
                            }

                            p {
                                font-size: 12px;
                                width: 100%;

                                .copy {
                                    user-select: all;
                                }
                            }

                            button {
                                font-size: 15px;
                            }

                            .enabled {
                                background-color: #f003;
                            }

                            .selected {
                                background-color: var(--btn-color-focus);
                            }
                        }

                        &.themeSelector {
                            .themeButtons {
                                button:nth-child(1) {
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                }

                                button:nth-child(2) {
                                    border-top-left-radius: 0;
                                    border-bottom-left-radius: 0;
                                }
                            }
                        }
                    }
                }

                ul {
                    list-style-type: revert;
                    margin: 4px 25px;

                    li {
                        padding: 4px 0;
                        line-height: 1.5em;
                    }
                }

                .features {
                    font-size: 1em;
                    padding: 20px;
                }

                table:not(.content) {
                    border-spacing: 0;
                    width: 100%;

                    th,
                    td {
                        width: 50%;
                        padding: 10px 10px;
                        display: inline-flex;
                        gap: 10px;

                        input {
                            font-size: inherit;
                        }
                    }

                    tr {
                        box-shadow: inset 0 0 0px 1px var(--divider-color);
                        // td:first-child {
                        //     text-align: end;
                        // }
                    }
                }
                .themeMaker {
                    padding: 20px;
                    display: grid;
                    // place-items: center;

                    td,
                    th {
                        user-select: text;
                        display: inline-flex;
                        align-items: center;
                        height: 55px;
                        &:nth-child(1) {
                            width: 40%;
                        }
                        &:nth-child(2) {
                            width: 15%;
                            display: inline-flex;
                            align-items: center;
                            gap: 20px;
                            > button,
                            label {
                                width: 40px;
                            }
                        }
                        &:nth-child(3) {
                            width: 45%;
                        }

                        input[type="color"] {
                            appearance: none;
                            border: none;
                            width: 100%;
                            height: 100%;

                            &::-webkit-color-swatch-wrapper {
                                padding: 0;
                            }

                            ::-webkit-color-swatch {
                                border: none;
                            }
                        }

                        .resetBtn {
                            background-color: var(--text-input-bg);
                            padding: 10px;
                            font-size: 15px;
                            align-items: center;
                            border-radius: 3px;
                            overflow: initial;

                            &:hover {
                                background-color: var(--text-input-bg-focus);
                            }
                            &:focus,
                            &:active {
                                box-shadow: var(--btn-color-focus) 0 0 0px 2px;
                            }
                        }

                        label {
                            cursor: pointer;
                            background-color: var(--text-input-bg);
                            padding: 10px;
                            font-size: 15px;
                            align-items: center;
                            border-radius: 3px;

                            input[type="checkbox"] {
                                display: none;
                            }

                            &:hover {
                                background-color: var(--text-input-bg-focus);
                            }
                            &:focus,
                            &:active {
                                box-shadow: var(--btn-color-focus) 0 0 0px 2px;
                            }
                            &.selected {
                                background-color: var(--btn-color-focus);
                            }
                            &.opacityRange {
                                display: grid;
                                grid-template-columns: auto 2rem;
                                gap: 5px;
                            }
                        }
                    }
                }

                .shortcutKey {
                    padding: 20px;
                    display: grid;
                    // place-items: center;

                    p {
                        width: 100%;
                        padding-bottom: 10px;
                        padding-left: 20px;
                    }
                }
            }
        }

        #loadingScreen {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100000;
            background: var(--body-bg-color);
            display: grid;
            place-content: center;
            display: none;
            width: 100%;
            height: 100%;

            .name {
                font-size: 30px;
                padding-bottom: 20px;
                text-align: center;
            }

            @keyframes fadeInOut {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 0.2;
                }

                100% {
                    opacity: 1;
                }
            }

            .unzipping {
                font-size: 4em;
                animation: 2s linear fadeInOut infinite;
            }

            .loadingBarCont {
                position: relative;
                width: 60vw;
                border-radius: 5px;
                padding: 3px;
                box-sizing: border-box;
                height: 30px;
                //!
                border: 1px solid var(--btn-color-focus);

                .loadingbar {
                    position: relative;
                    width: 0;
                    height: 100%;
                    background-color: var(--btn-color-focus);
                }
            }
        }

        // #reader {
        .reader {
            width: 100vw;
            // height: var(--body-height);
            height: 100%;
            display: none;
            overflow-x: hidden;
            overflow: auto;
            // --mangaListWidth: clamp(400px, 40%, 500px);
            --sideListWidth: 450px;

            &.sideListPinned {
                &#reader {
                    overflow: hidden;
                }

                .readerSideList {
                    position: sticky;
                    max-width: none;
                    min-width: none;
                }

                .imgCont {
                    overflow: auto;
                }
            }

            &::-webkit-scrollbar-track,
            &::-webkit-scrollbar-corner {
                background: var(--topBar-color);
            }

            .zenModePageNumber {
                pointer-events: none;
                position: fixed;
                display: none;
                z-index: 100;
                right: 0;
                bottom: 0;
                padding: 5px;
                font-size: 30px;
                color: var(--font-color);
                border-top-left-radius: 10px;
                background-color: var(--zenModePage-bg);
            }

            .chapterChangerScreen {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--body-bg);
                display: grid;
                place-items: center;

                .wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 4em;

                    > div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        // &.a {
                        //     align-self: flex-end;
                        //     padding-bottom: 4em;
                        // }

                        // &.b {
                        //     align-self: flex-start;
                        // }

                        [data-tooltip] {
                            &::before {
                                left: 50%;
                                top: 0;
                                --translate: -50%, calc(-100% - 0.5em);
                            }
                        }

                        span {
                            display: flex;
                            flex-direction: row;
                            gap: 5px;
                            align-items: center;

                            &.a {
                                font-size: 1.7em;
                                opacity: 0.7;
                            }

                            &.b {
                                font-size: 2.5em;
                            }
                        }
                    }
                }
            }

            .shortcutClicked {
                position: fixed;
                display: flex;
                background-color: var(--topBar-color);
                font-size: 3em;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 100;
                padding: 10px 20px;
                border-radius: 10px;
                pointer-events: none;
                box-shadow: var(--font-color) 0 0 0 1px;

                transition: 0s opacity;
                opacity: 1;
                &.faded {
                    opacity: 0;
                    transition: 0.5s opacity;
                }
            }

            .readerSideList {
                background: var(--sideList-bg-color);
                height: var(--body-height);
                width: var(--sideListWidth);
                min-width: 196px;
                max-width: 90%;
                z-index: 100;
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                flex-direction: column;
                padding: 10px;
                padding-top: 5px;
                box-sizing: border-box;
                transform: translateX(-99%);
                transition: 0.2s transform;

                .indicator {
                    position: absolute;
                    cursor: pointer;
                    right: 0;
                    top: 50%;
                    background-color: var(--sideList-bg-color);
                    height: 100px;
                    border-radius: 0 5px 5px 0;
                    width: 20px;
                    display: grid;
                    place-items: center;
                    transform: translate(100%, -50%);

                    &:hover {
                        background-color: var(--btn-color-hover);
                    }
                }

                .reSizer {
                    position: absolute;
                    cursor: ew-resize;
                    right: 0;
                    top: 0;
                    background-color: var(--sideList-bg);
                    width: 10px;
                    height: 100%;

                    &:hover {
                        background-color: var(--btn-color-hover);
                    }
                }

                &.open {
                    transform: translateX(0);
                }

                .in-reader {
                    font-size: 20px;
                    user-select: text;
                    border: solid var(--btn-color-hover);
                    border-width: 4px 0;
                    margin-top: 7px;
                    margin-bottom: 5px;
                    padding: 5px;
                    padding-right: 10px;
                    display: flex;
                    flex-direction: column;
                    // display: grid;
                    // grid-template-columns: 75px auto;

                    gap: 6px;

                    cursor: text;
                    font-weight: 300;
                    font-size: 16px;
                    > div {
                        display: grid;
                        grid-template-columns: 5rem 1rem auto;
                        align-items: baseline;
                        > span {
                            word-break: break-word;
                            &:not(.bold) {
                                padding-top: 0.3rem;
                            }
                        }
                        .bold {
                            font-size: 20px;
                            font-weight: 700;
                            display: inline-block;
                            position: relative;
                            // width: 85px;

                            // &::after {
                            //     content: ":";
                            //     position: absolute;
                            //     right: 3px;
                            // }
                        }
                    }
                }

                .location-cont {
                    margin-top: 5px;
                    padding: 0;
                    a {
                        --grid-template: 2.3em;
                    }
                }

                .tools {
                    margin-bottom: 0;

                    button {
                        &::before {
                            left: 50%;
                            top: 100%;
                            --translate: -50%, 10px;
                        }
                    }

                    .row2 {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        height: 44px;
                        gap: 6px;
                        justify-content: stretch;

                        button {
                            width: 100%;

                            &::before {
                                left: 50%;
                                top: 0;
                                --translate: -50%, calc(-100% - 10px);
                            }
                        }

                        button.bookmarkBtn {
                            width: auto;
                        }
                    }
                }
            }

            .readerSettings {
                // --btn-size: 70px;
                --extender-size: 60px;
                position: absolute;
                color: var(--font-color);
                background-color: var(--body-bg-color);
                right: 10px;
                top: 0;
                z-index: 100;
                border-radius: 0 0 0 10px;
                width: 300px;

                // ::-webkit-scrollbar {
                //     display: none;
                // }

                // height: 240px;
                // transition: 0.5s width, 0.5s height;
                &.closed {
                    width: 0;
                    height: 0;

                    // border-radius: 0 0 0 20px;
                    .main {
                        display: none;
                    }
                }

                button {
                    position: relative;
                    border: none;
                    min-width: 50px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 15px;
                }

                .menuExtender {
                    z-index: 101;
                    position: absolute;
                    width: var(--extender-size);
                    height: var(--extender-size);
                    right: 0;
                    top: 0;
                    border-radius: 0 0 0 20px;
                    font-size: 20px;
                    opacity: 0.5;
                    background: var(--sideList-bg-color);

                    &:active,
                    &:focus {
                        background: var(--btn-color-focus);
                        opacity: 1;
                    }
                    &:hover {
                        background: var(--btn-color-hover);
                        opacity: 1;
                    }

                    &::before {
                        top: 0;
                        left: 0;
                        --translate: calc(-100% - 10px), -50%;
                    }
                }

                .main {
                    width: 100%;
                    height: 100%;
                    max-height: var(--body-height);
                    overflow: auto;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    padding: 5px 10px;

                    .settingItem {
                        display: flex;
                        flex-direction: column;
                        padding: 5px 0;
                        // border-bottom: 2px solid var(--divider-color);
                        gap: 5px;

                        .name {
                            font-size: 20px;
                            &::before {
                                content: "▼";
                                display: inline-block;
                                transform: rotate(-90deg);
                                margin-right: 5px;
                            }
                            &.expanded {
                                & ~ .options {
                                    display: flex;
                                }
                                &::before {
                                    transform: rotate(0);
                                }
                            }
                        }

                        .options {
                            display: none;
                            flex-direction: row;
                            flex-wrap: wrap;
                            gap: 5px;

                            .optionSelected {
                                background-color: var(--btn-color-focus);
                            }
                            .row {
                                display: flex;
                                flex-direction: row;
                                gap: 5px;
                            }
                            .col {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                            }
                            &.col {
                                flex-direction: column;
                            }

                            input[type="number"] {
                                width: 3em;
                                padding: 5px;
                                padding-right: 0;
                            }

                            button:disabled {
                                opacity: 0.5;
                            }

                            label {
                                display: flex;
                                cursor: pointer;
                                background-color: var(--text-input-bg);
                                padding: 5px;
                                gap: 5px;
                                font-size: 20px;
                                align-items: center;
                                border-radius: 3px;
                                min-height: 2.2em;

                                p {
                                    font-size: 15px;
                                }

                                &:hover {
                                    background-color: var(--text-input-bg-focus);
                                }
                                &:focus,
                                &:active {
                                    box-shadow: var(--btn-color-focus) 0 0 0px 2px;
                                }
                                &.disabled {
                                    opacity: 0.5;
                                    pointer-events: none;
                                }
                            }
                            .colorRange {
                                display: grid;
                                grid-template-columns: 1rem auto 2rem;
                            }
                        }
                    }
                }
            }
            .forcedLowBrightness {
                --neg-brightness: 0.5;
                pointer-events: none;
                z-index: 1000001;
                position: fixed;
                top: -40px;
                width: 100%;
                height: calc(100% + 40px);
                background-color: #000;
                opacity: var(--neg-brightness);
            }
            .imgCont {
                width: 100%;
                display: flex;
                position: relative;
                flex-direction: column;
                align-items: center;

                // for original size image
                overflow-x: unset;

                // overflow: auto;
                --varWidth: 100%;
                --gapSize: 10px;

                --blend-bg: rgba(0, 0, 0, 0);
                --blend-mode: normal;
                &.customColorFilter {
                    background-color: var(--blend-bg);
                    .row {
                        background-color: var(--blend-bg);
                        img {
                            mix-blend-mode: var(--blend-mode);
                        }
                    }
                }

                &.readerMode1n2 {
                    justify-content: center;
                    min-height: 100%;
                }

                &.fitVertically .row .readerImg {
                    width: auto !important;
                    height: var(--body-height);
                }
                &.fitHorizontally .row .readerImg {
                    width: 100%;
                    height: auto !important;
                }
                &.fitHorizontally .row.twoPagePerRow .readerImg {
                    width: 50% !important;
                    height: auto !important;
                }
                &.original .row .readerImg {
                    width: auto !important;
                    height: auto !important;
                }

                &.gap {
                    gap: var(--gapSize);
                }

                .row {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    --max-width: 250%;
                    --max-height: auto;
                    transform: translate3d(0, 0, 0);

                    &.ltr {
                        flex-direction: row;
                    }

                    &.rtl {
                        flex-direction: row-reverse;
                    }

                    &.wide {
                        .readerImg {
                            width: calc(var(--varWidth) * 2);
                            max-width: calc(var(--max-width) * 2);
                        }
                    }

                    .readerImg {
                        max-width: calc(var(--max-width));
                        max-height: var(--max-height);
                        width: var(--varWidth);
                        transform: translate3d(0, 0, 0);
                        image-orientation: none;

                        // min-width: 1%;
                        // image-rendering: pixelated;
                    }

                    &.widthClamped {
                        .readerImg {
                            max-width: 100%;
                        }
                    }

                    &.twoPagePerRow {
                        .readerImg {
                            max-width: calc(var(--max-width) / 2);
                            width: calc(var(--varWidth) / 2);
                        }
                        &.wide {
                            .readerImg {
                                max-width: clc(var(--max-width));
                                width: var(--varWidth);
                            }
                        }

                        &.widthClamped {
                            .readerImg {
                                max-width: 50%;
                                width: calc(var(--varWidth) / 2);
                            }

                            &.wide {
                                .readerImg {
                                    max-width: 100%;
                                    width: var(--varWidth);
                                }
                            }
                        }
                    }
                }
            }
        }
        #EPubReader {
            .readerSideList {
                .location-cont {
                    li {
                        a {
                            --depth: 0;
                            grid-template-columns: auto;
                            font-size: calc(1rem + calc(calc(var(--depth) / 3) * 1rem));

                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }
            section.main {
                width: 100%;
                display: flex;
                position: relative;
                flex-direction: column;
                align-items: center;
                --hyphenation: none;
                --width: 50%;
                --line-height: "normal";
                --word-spacing: "normal";
                --paragraph-gap: 1.6em 0;
                --font-family: "inherit";
                &.forceFont {
                    > .cont * {
                        font-family: var(--font-family) !important;
                    }
                }
                &.forceParaGap {
                    > .cont p {
                        margin: var(--paragraph-gap) !important;
                    }
                }
                > .cont {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    transform: translate3d(0, 0, 0);
                    // make var
                    // margin: 0 200px;
                    // padding: 0 600px;
                    width: var(--width);

                    // scroll-margin-top: 40px;

                    // line-height: 1.2em;
                    // font-size: 1.2em;
                    margin: 20px 0;
                    // *:not(style, p, p *, h1, h2) {
                    //     display: flex;
                    //     flex-direction: column;
                    // }
                    * {
                        user-select: text !important;
                        line-height: var(--line-height);
                        word-spacing: var(--word-spacing);
                    }
                    // section {
                    //     width: 100%;
                    // }
                    a {
                        text-decoration-line: underline;
                        text-decoration-style: dotted;
                        // text-decoration-thickness: from-font;
                        cursor: pointer;
                        // flex-direction: row;
                        color: inherit;
                        &:hover {
                            text-decoration-style: solid;
                        }
                    }
                    a[href]::before {
                        content: "[external] ";
                    }
                    // h1,
                    // h2 {
                    //     margin: 10px 0;
                    // }
                    p {
                        // margin: 5px 0;
                        // hyphens: var(--hyphenation) !important;
                        hyphens: auto !important;
                        &.findInPage {
                            box-shadow: var(--font-color) 0 0 0 2px;
                            scroll-margin-top: 30px;
                        }
                    }
                    // img {
                    // MAKE VAR
                    // max-width: 60%;
                    // margin: 20px 0;
                    // align-self: center;
                    // justify-self: center;
                    // }
                }
            }
        }
    }
}
