@font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Regular.ttf");
}
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    cursor: inherit;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}
::-webkit-scrollbar-thumb {
    min-height: 70px;
    background: var(--scrollbar-thumb-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-color-hover);
}
::selection {
    background: var(--font-select-color);
    color: var(--font-select-bg);
}
.refrenceVariable {
    --body-bg: #ffffff;
    --icon-color: #000c29;
    --font-color: #000c29;
    --font-select-color: #000c29;
    --font-select-bg: #fff8f0;
    --color-primary: #487fff;
    --color-secondary: #1f62ff;
    --color-tertiary: #93b4ff;
    --topBar-color: #e0e0e0;
    --topBar-hover-color: #709bff;
    --input-bg: #b6ccfe;
    --btn-color1: #b6ccfe;
    --btn-color2: #709bff;
    --listItem-bg-color: #00000000;
    --listItem-hover-color: #b6ccfe;
    --listItem-alreadyRead-color: #93b4ff;
    --listItem-current: #709bff;
    --toolbar-btn-bg: #b6ccfe;
    --toolbar-btn-hover: #487fff;
    --scrollbar-track-color: #b6ccfe00;
    --scrollbar-thumb-color: #b6ccfe;
    --scrollbar-thumb-color-hover: #709bff;
    --divider-color: #b6ccfe;
    --context-menu-text: var(--font-color);
    --context-menu-bg: var(--color-tertiary);
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 100vw;
    height: 100vh;
    color: var(--font-color);
    background: var(--body-bg);
    user-select: none;
    overflow: hidden;
    button {
        font-family: inherit;
        &:disabled {
            pointer-events: none;
        }
        &:focus {
            outline: none;
            box-shadow: var(--color-secondary) 0 0 0px 1px;
        }
    }
    div:focus {
        outline: none;
    }

    --titleBar-height: 40px;
    --button-width: 55px;
    [data-tooltip] {
        position: relative;
        &::before {
            content: attr(data-tooltip);
            position: absolute;
            --translate: 10px, -50%;
            cursor: inherit;
            --rotate: 0;
            z-index: 10000;
            font-size: 18px;
            display: block;
            white-space: nowrap;
            color: #fff;
            visibility: none;
            background: #000;
            left: 100%;
            top: 50%;
            height: fit-content;
            transform: translate(var(--translate)) scale(0) rotate(var(--rotate));
            padding: 3px 5px;
            border-radius: 5px;
            opacity: 0;
            pointer-events: none;
        }
        &:hover::before {
            opacity: 1;
            visibility: visible;
            transition: 0.5s opacity;
            transform: translate(var(--translate)) scale(1) rotate(var(--rotate));
        }
    }
    #topBar {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: var(--titleBar-height);
        user-select: none;
        background: var(--topBar-color);
        z-index: 1000000;
        button {
            font-size: 18px;
        }
        .homeBtns {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: calc(var(--button-width) * 5);
            height: 100%;
            button {
                width: var(--button-width);
                background: none;
                position: relative;
                color: var(--icon-color);
                height: 100%;
                left: 0;
                top: 0;
                border: none;
                cursor: pointer;
                &::before {
                    top: 100%;
                    left: 50%;
                    --translate: -50%, 10px;
                }
                -webkit-app-region: no-drag;
                svg {
                    color: var(--icon-color);
                }
                &:hover,
                &:active {
                    background: var(--topBar-hover-color);
                }
            }
        }
        .titleDragable {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            -webkit-app-region: drag;
        }
        .mainTitleCont {
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% - (var(--button-width) * 10));
            .title {
                position: relative;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 25px;
            }
        }
        .windowBtnCont {
            -webkit-app-region: no-drag;
            position: absolute;
            width: calc(var(--button-width) * 5);
            top: 0;
            right: 0;
            z-index: 3000;
            display: flex;
            flex-direction: row;
            height: 100%;
            align-items: center;
            #pageNumbers {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 100%;
                visibility: hidden;
                width: calc(var(--button-width) * 2);
                &::before {
                    top: 100%;
                    left: 50%;
                    --translate: -50%, 10px;
                }
                .totalPage {
                    display: block;
                    font-size: 25px;
                    // text-align: center;
                    // width: calc(var(--button-width) * 1);
                }
                #NavigateToPageInput {
                    z-index: inherit;
                    width: calc(var(--button-width) * 1);
                    text-align: right;
                    font-size: 25px;
                    box-sizing: border-box;
                    font-family: Roboto;
                    cursor: text;
                    background: var(--input-bg);
                    border: none;
                    // padding: 10px;
                    height: 100%;
                    box-sizing: border-box;
                    color: var(--font-color);
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &:focus,
                    &:active {
                        background: var(--topBar-hover-color);
                        outline: none;
                    }
                }
            }
            button {
                z-index: inherit;
                background: none;
                box-sizing: border-box;
                color: var(--icon-color);
                border: none;
                width: var(--button-width);
                height: 100%;
                &:focus {
                    outline: none;
                }
                &:hover,
                &:active {
                    background: var(--topBar-hover-color);
                }
            }
            #closeBtn {
                &:hover,
                &:active {
                    background: rgba(232, 17, 35, 0.9);
                }
            }
        }
    }
    #root {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    #app {
        position: relative;
        top: var(--titleBar-height);
        left: 0;
        width: 100%;
        height: calc(100% - var(--titleBar-height));
        button {
            background: var(--btn-color1);
            &:hover,
            &:active {
                background: var(--btn-color2);
                outline: none;
            }
            color: var(--icon-color);
            font-family: "Roboto";
            font-size: 20px;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 3px;
            border: none;
            overflow: hidden;
            // &:focus {
            //     outline: none;
            // }
            i::before {
                cursor: pointer;
            }
        }
        input[type="text"],
        input[type="number"] {
            background: var(--input-bg);
            overflow: scroll;
            cursor: text;
            color: var(--font-color);
            font-family: "roboto";
            outline: none;
            border-radius: 3px;
            width: 100%;
            border: none;
            font-size: 20px;
            padding: 10px;
            &:focus {
                box-shadow: var(--color-secondary) 0 0 0px 1px;
            }
        }
        .listCont {
            .location-cont {
                position: relative;
                height: 100%;
                overflow-y: scroll;
                overflow-x: visible;
                ol {
                    position: relative;
                    counter-reset: countList;
                    li {
                        position: relative;
                        display: flex;
                        width: 100%;
                        max-height: 30px;
                        align-items: stretch;
                        border-radius: 2px;
                        background: var(--listItem-bg-color);
                        // border-bottom: 1px solid var(--color-primary);
                        height: 100%;
                        &:hover,
                        &:active {
                            background-color: var(--listItem-hover-color);
                        }
                        a {
                            cursor: pointer;
                            display: grid;
                            --grid-template: 0;
                            gap: 5px;
                            grid-template-columns: 2.1em auto var(--grid-template);
                            // display: flex;
                            // flex-direction: row;
                            align-items: center;
                            padding: 5px;
                            width: 100%;
                            overflow: hidden;
                            .pageNum {
                                margin-left: auto;
                                min-width: 2em;
                                text-align: end;
                            }
                            .text {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 1; /* number of lines to show */
                                -webkit-box-orient: vertical;
                            }
                            &::before {
                                counter-increment: countList;
                                content: counter(countList) ".\00a0";
                                text-align: right;
                            }
                        }
                        button {
                            margin: 0;
                            cursor: pointer;
                            user-select: none;
                            padding: 5px 15px;
                            box-sizing: border-box;
                            align-self: stretch;
                            border: none;
                            display: flex;
                            font-size: 20px;
                            background: var(--body-bg);
                            &:hover,
                            &:active,
                            &:focus {
                                background: var(--btn-color2);
                            }
                        }
                    }
                    .alreadyRead {
                        background: var(--listItem-alreadyRead-color);
                        &:hover,
                        &:active {
                            background-color: var(--listItem-hover-color);
                        }
                    }
                    .current {
                        background: var(--listItem-current);
                    }
                }
            }
            .tools {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-bottom: 5px;
                --button-width1: 45px;
                .currentPath {
                    user-select: text;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    border-bottom: 5px solid var(--divider-color);
                    padding-bottom: 5px;
                    button {
                        padding: 5px;
                        min-width: calc(var(--button-width) * 2 + 5px);
                    }
                }
                .row1 {
                    gap: 5px;
                    display: flex;
                    flex-direction: row;
                    height: 44px;
                }
                button {
                    // padding: 0;
                    width: var(--button-width);
                    height: 100%;
                    overflow: visible;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &::before {
                        left: 0;
                        top: 0;
                        --translate: 0%, calc(-100% - 10px);
                    }
                }
            }
        }
        .tabCont {
            display: flex;
            flex-direction: row;
            // display: grid;
            --divider-width: 25px;
            // grid-template-columns: auto var(--divider-width) auto var(--divider-width) auto;
            position: relative;
            width: 100%;
            height: 100%;
            .contTab {
                width: 100%;
                // overflow: hidden;
                height: 100%;
                position: relative;
                display: flex;
                flex-basis: calc((100% - 2 * (var(--divider-width))) / 3);
                flex-grow: 0;
                flex-shrink: 0;
                padding: 20px 10px;
                flex-direction: column;
                h2 {
                    margin-bottom: 10px;
                    text-align: center;
                    padding-bottom: 10px;
                    font-weight: 400;
                    border-bottom: 1px solid var(--color-secondary);
                    box-sizing: border-box;
                    button {
                        padding: 0 10px;
                        margin: 0;
                        margin-left: 5px;
                    }
                }
            }
            .divider {
                display: grid;
                place-items: center;
                cursor: pointer;
                height: 100%;
                // margin: 0 10px;
                padding: 0 10px;
                &:hover {
                    .bar {
                        background-color: var(--btn-color2);
                    }
                }
                .bar {
                    height: 100%;
                    width: 6.9px;
                    min-width: 6.9px;
                    background-color: var(--btn-color1);
                }
            }
        }

        .contextMenu {
            position: absolute;
            top: 0;
            left: 0;
            background: var(--context-menu-bg);
            color: var(--context-menu-text);
            box-sizing: border-box;
            padding: 10px 0px;
            border-radius: 5px;
            min-width: 240px;
            z-index: 10000;
            user-select: none;
            &:active,
            &:focus {
                outline: none;
            }
            ul {
                list-style: none;
                li {
                    padding: 10px 10px;
                    cursor: default;
                    &:hover,
                    &:active {
                        background: var(--btn-color2);
                    }
                }
            }
        }
        .infoOnHover {
            position: absolute;
            top: 0;
            left: 0;
            background: var(--context-menu-bg);
            color: var(--context-menu-text);
            box-sizing: border-box;
            padding: 10px 10px;
            border-radius: 5px;
            width: 300px;
            z-index: 1000;
            display: flex;
            flex-direction: column;
            .info-cont {
                width: 100%;
                display: grid;
                grid-template-columns: 4em 1fr;
                .info {
                    word-wrap: none;
                }
            }
        }
        #settings {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1000;
            display: grid;
            background: #0004;
            place-items: center;
            transition: 0.3s all;
            &[data-state="open"] {
                visibility: visible;
                .cont {
                    transform: scale(1);
                }
            }
            &[data-state="closed"] {
                visibility: hidden;
                .cont {
                    transform: scale(0);
                }
            }
            .clickClose {
                position: absolute;
                width: 100%;
                height: 100%;
            }
            .cont {
                position: relative;
                background: var(--body-bg);
                border-radius: 10px;
                transition: 0.2s transform;
                width: calc(max(700px, 60%));
                height: 90%;
                transform: scale(0);
                box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 19px 25px;
                overflow: hidden scroll;
                > h1 {
                    border-bottom: 1px solid var(--color-secondary);
                    padding: 10px;
                    position: sticky;
                    top: 0;
                    background-color: inherit;
                    display: flex;
                    button {
                        margin-left: auto;
                    }
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    font-size: 1.4em;
                    .settingItem {
                        display: grid;
                        grid-template-columns: 30% 70%;
                        align-items: center;
                        padding: 10px 0;
                        border-bottom: 2px solid var(--divider-color);
                        min-height: 44px;
                        .name {
                            width: 100%;
                        }
                        .current {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 10px;
                            justify-content: stretch;
                            span {
                                user-select: text;
                            }
                            input {
                                background-color: var(--input-bg);
                                border: none;
                                flex: 1;
                                font-size: 15px;
                                color: var(--font-color);
                                height: 100%;
                                border-radius: 3px;
                            }
                            label {
                                display: flex;
                                cursor: pointer;
                                background-color: var(--input-bg);
                                padding: 5px;
                                gap: 5px;
                                border-radius: 3px;
                            }
                            p {
                                font-size: 12px;
                                width: 100%;
                                .copy {
                                    user-select: all;
                                }
                            }
                            button {
                                font-size: 15px;
                            }
                            .enabled {
                                background-color: #f003;
                            }
                            .selected {
                                background-color: var(--btn-color2);
                            }
                        }
                    }
                }
                .shortcutKey {
                    padding: 20px;
                    display: grid;
                    place-items: center;
                    table {
                        border-spacing: 0;
                        width: 100%;
                        th,
                        td {
                            width: 50%;
                            padding: 10px 10px;
                            // border-bottom: 1px solid var(--color-secondary);
                        }
                        tr {
                            border: 1px solid var(--color-secondary);
                            td:first-child {
                                text-align: end;
                            }
                        }
                    }
                }
            }
        }
        #loadingScreen {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100000;
            background: var(--body-bg);
            display: grid;
            place-content: center;
            display: none;
            width: 100%;
            height: 100%;

            .loadingBarCont {
                position: relative;
                width: 60vw;
                border-radius: 5px;
                padding: 3px;
                box-sizing: border-box;
                height: 30px;
                border: 1px solid var(--color-secondary);
                .loadingbar {
                    position: relative;
                    width: 0;
                    height: 100%;
                    background-color: var(--btn-color2);
                }
            }
        }
        #reader {
            width: 100vw;
            // height: calc(100vh - var(--titleBar-height));
            height: 100%;
            display: none;
            overflow-x: hidden;
            overflow: auto;
            // --mangaListWidth: clamp(400px, 40%, 500px);
            --mangaListWidth: 450px;
            &.sideListPinned {
                overflow: hidden;
                .currentMangaList {
                    position: sticky;
                    max-width: none;
                    min-width: none;
                }
            }
            &::-webkit-scrollbar-track {
                background: var(--topBar-color);
            }
            .currentMangaList {
                background: var(--topBar-color);
                height: calc(100vh - var(--titleBar-height));
                width: var(--mangaListWidth);
                min-width: 196px;
                max-width: 90%;
                z-index: 100;
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                flex-direction: column;
                padding: 10px;
                padding-top: 5px;
                box-sizing: border-box;
                transform: translateX(-99%);
                transition: 0.2s transform;
                .indicator {
                    position: absolute;
                    cursor: pointer;
                    right: 0;
                    top: 50%;
                    background-color: var(--topBar-color);
                    height: 100px;
                    border-radius: 0 5px 5px 0;
                    width: 20px;
                    display: grid;
                    place-items: center;
                    transform: translate(100%, -50%);
                    &:hover {
                        background-color: var(--btn-color2);
                    }
                }
                .reSizer {
                    position: absolute;
                    cursor: ew-resize;
                    right: 0;
                    top: 0;
                    background-color: var(--topBar-color);
                    width: 10px;
                    height: 100%;
                    &:hover {
                        background-color: var(--btn-color2);
                    }
                }
                &.open {
                    transform: translateX(0);
                }
                h1 {
                    font-size: 20px;
                    span {
                        cursor: text;
                        font-weight: 300;
                        font-size: 16px;
                    }
                    user-select: text;
                }
                .location-cont {
                    margin-top: 5px;
                    padding: 0;
                    a {
                        --grid-template: 2.1em;
                    }
                }
                .tools {
                    button {
                        &::before {
                            left: 50%;
                            top: 100%;
                            --translate: -50%, 10px;
                        }
                    }
                    .row2 {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        height: 44px;
                        gap: 5px;
                        justify-content: stretch;
                        button {
                            width: 100%;
                            &::before {
                                left: 50%;
                                top: 0;
                                --translate: -50%, calc(-100% - 10px);
                            }
                        }
                        button:nth-child(2) {
                            width: auto;
                        }
                    }
                }
            }
            #readerSettings {
                // --btn-size: 70px;
                --extender-size: 60px;
                position: absolute;
                color: var(--icon-color);
                background-color: var(--topBar-color);
                right: 10px;
                top: 0;
                z-index: 100;
                border-radius: 0 0 0 10px;
                width: 300px;
                // height: 240px;
                // transition: 0.5s width, 0.5s height;
                &.closed {
                    width: 0;
                    height: 0;
                    // border-radius: 0 0 0 20px;
                    .main {
                        display: none;
                    }
                }
                button {
                    position: relative;
                    border: none;
                    min-width: 50px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 15px;
                }
                .menuExtender {
                    z-index: 101;
                    position: absolute;
                    width: var(--extender-size);
                    height: var(--extender-size);
                    right: 0;
                    top: 0;
                    border-radius: 0 0 0 20px;
                    font-size: 20px;
                    opacity: 0.5;
                    background: var(--topBar-color);
                    &:hover,
                    &:active,
                    &:focus {
                        background: var(--btn-color2);
                        opacity: 1;
                    }
                    &::before {
                        top: 0;
                        left: 0;
                        --translate: calc(-100% - 10px), -50%;
                    }
                }
                .main {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    padding: 5px 10px;
                    .settingItem {
                        display: flex;
                        flex-direction: column;
                        padding: 5px 0;
                        // border-bottom: 2px solid var(--divider-color);
                        gap: 5px;
                        .name {
                            font-size: 20px;
                        }
                        .options {
                            display: flex;
                            flex-direction: row;
                            gap: 5px;
                            .optionSelected {
                                background-color: var(--btn-color2);
                            }
                            &.col {
                                flex-direction: column;
                            }
                            input[type="number"] {
                                width: 60px;
                                padding: 5px;
                                padding-right: 0;
                            }
                            label {
                                display: flex;
                                cursor: pointer;
                                background-color: var(--input-bg);
                                padding: 5px;
                                gap: 5px;
                                font-size: 20px;
                                align-items: center;
                                border-radius: 3px;
                                p {
                                    font-size: 10px;
                                }
                                input:disabled ~ p {
                                    opacity: 0.5;
                                }
                            }
                        }
                    }
                }
            }
            .imgCont {
                width: 100%;
                display: flex;
                position: relative;
                flex-direction: column;
                align-items: center;
                overflow: auto;
                --varWidth: 100%;
                &.readerMode1 {
                    justify-content: center;
                    min-height: 100%;
                }
                &.gap {
                    gap: 10px;
                }
                .row {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    width: 100%;
                    &.wide {
                        img {
                            width: calc(var(--varWidth) * 2);
                        }
                    }
                    img {
                        width: var(--varWidth);
                        max-width: 100%;
                        min-width: 1%;
                    }
                    &.twoPagePerRow {
                        img {
                            max-width: 50%;
                            width: calc(var(--varWidth) / 2);
                        }
                        &.wide {
                            img {
                                max-width: 100%;
                                width: var(--varWidth);
                            }
                        }
                    }
                }
            }
        }
    }
}
